#main {
    flex: 100% !important;
    padding: 0 !important;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.description {
    width: 40%;
}

.preview {
    width: 40%;
    height: 300px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 6px / 6px;
}

#wave {
    background-image: url("/wave_screenshot.png");
}

#basketball {
    background-image: url("/basketball_screenshot.png");
}

.preview a {
    color: #FFFFFF;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px / 8px;
    min-width: 100px;
}

.preview a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-aspect-ratio: 3/2) {
    .row {
        flex-direction: column;
    }

    .description {
        width: 85%
    }

    .preview {
        width: 85%
    }
}